<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prash Lab</title>

    <!-- Google Font -->
    
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	 <link rel="stylesheet" href="css/main.css" type="text/css">
<style>

</style>
<style>
footer {
  background-color: #777;
  padding: 25px;
  text-align: center;
  color: white;
}</style
</head>

<body>
<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
    
<!-- navbar -->
<!-- navbar -->
<div class="container1 ","jumbotron jumbotron-fluid">
	<div class="navbar">
		<ul class="navbar-ul">
			<li class="navbar-li"><a href="Home.html" style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #111;padding: 35px; font-size: 30px; margin-right: 800px;"><b>Prash's Lab</b></a></li>
			<li class="navbar-li"><a href="Home.html" class="nlink">Home</a></li>
			<li class="navbar-li"><a href="Research.html" class="nlink">Research</a></li>
			<li class="navbar-li"><a href = "labmembers.html" class="nlink">Lab Members</a></li>
			<li class="navbar-li"><a href="Publication.html" class="nlink">Publications</a></li>
			<li class="navbar-li"><a href="contect.html" class="nlink">Contact Us</a></li>
		</ul>
	</div>
</div>


<div class = "jumbotron jumbotron-fluid">
	<ul style='text-align:justify;'>
					List of Publications</font><br/>
					
					<li>51 PEER-REVIEWED PUBLICATIONS | 45 INVITED TALKS </li>
					<li>AUTHORED 3 BOOKS (TWO FOR SPRINGER) |</li>
					<li>6 MANUSCRIPTS SUBMITTED UNDER REVIEW | 4 IN PRESS</li>
					<li>Methodology: Ijaq J, Malik G, Kumar A, Das PS, Meena N, Bethi N, Sundararajan VS, Suravajhala P. APage 4 of 4model to predict the function of hypothetical proteins through a nine-point classification scoring schema.BMC Bioinformatics. 2019 Jan 8;20(1):14.</li>
					<li>Research: Tiwari P, Saxena A, Gupta N, Medicherla KM, Suravajhala P, Mathur SK. Systems Genomics ofThigh Adipose Tissue From Asian Indian Type-2 Diabetics Revealed Distinct Protein Interaction Hubs. FrontGenet. 2019 Jan 8;9:679.</li>
					<li>Research: Gupta S, Gupta N, Tiwari P, Menon S, Mathur P, Kothari SL, Nallapeta S, Medicherla KM,Suravajhala P. Lnc-EPB41-Protein Interactions Associated with Congenital Pouch Colon. Biomolecules.2018 Sep 17;8(3).</li>
					<li>Webserver: Sundararajan VS, Malik G, Ijaq J, Kumar A, Das PS, Shidhi PR, Nair AS, Suravajhala P, DharPK. HYPO: A database of hypothetical human proteins. Protein Pept Lett. 2018 Aug 27. doi:10.2174/0929866525666180828110444.</li>
					<li>Commentary: Mathur SK, Tiwari P, Gupta S, Gupta N, Nimesh S, Medicherla KM, Suravajhala P. Genetics
					of Lipodystrophy: Can It Help in Understanding the Pathophysiology of Metabolic Syndrome? Biomolecules.
					2018 Jul 6;8(3).</li>
					<li>Research: Mathur P, Medicherla KM, Chaudhary S, Patel M, Bagali S and Suravajhala P. Whole Exome
					Sequencing reveals rare variants linked to Congenital Pouch Colon. Scientific Reports. 2018: 8:6646.</li>
					<li>Research: Suravajhala P, Benso A. Prioritizing single-nucleotide polymorphisms and variants associated
					with clinical mastitis. Adv Appl Bioinform Chem. 2017 Jun 12;10:57-64.</li>
					<li>Research: Dashtban M, Balafar M, Suravajhala P.Gene selection for tumor classification using a novel bio-
					inspired multi-objective approach. Genomics. 2017 Aug 3. pii: S0888-7543(17)30067-8.</li>
					<li>Review: Suravajhala P, Kogelman LJ, Kadarmideen HN. Multi-omic data integration and analysis using
					systems genomics approaches: Methods and application in animal production, and health and welfare.
					Genetics, Selection and Evolution. 2016: 48:38.</li>
					<li>Research: Suravajhala P, Kogelman LJ, Mazzoni G, Kadarmideen HN. Potential role of lncRNA cyp2c91-
					protein interactions on diseases of the immune system. Front Genet. 2015 Jul 28;6:255. doi:
					10.3389/fgene.2015.00255. eCollection 2015. PubMed PMID: 26284111.</li>
					<li>Protocol: Prashanth Suravajhala, Jeffrey W Bizzaro: A Conceptual Outline for ‘Omics Experiments Using
					Bioinformatics Analogies. Bioprotocol. 01/2015;</li>
					<li>Research: P. R. Shidhi, Prashanth Suravajhala, Aysha Nayeema, Achuthsankar S. Nair, Shailja Singh,
					Pawan K. Dhar: Making novel proteins from pseudogenes. Bioinformatics 09/2014;</li>
					<li>Research: Suravajhala P, Singh TR. Is HNF4A a candidate to study zinc finger protein slug? Int J
					Bioinform Res Appl. 2015;11(4):366-73. PubMed PMID: 26561320.</li>
					<li></li>
					<li>Research: Suravajhala P, Singh TR. Is HNF4A a candidate to study zinc finger protein slug? Int J
					Bioinform Res Appl. 2015;11(4):366-73. PubMed PMID: 26561320.</li>
					<li>Research: Suravajhala P, Singh TR. Is HNF4A a candidate to study zinc finger protein slug? Int J
					Bioinform Res Appl. 2015;11(4):366-73. PubMed PMID: 26561320.</li>
					<li>
						</ul>
				</div>
			</div>
		</div>
      </div>

	</div>
</div>

</div>
</div>
    </div>
<section>
	<footer>
		<div class="footer-copyright text-white text-center">Copyright: © 2020
		<a href="https://Prash lab.org/" style="text-decoration: none;">
			<strong class="text-blue">Prash Lab</strong>
		</a>
		All Rights Reserved.
	    </div>
	</footer>
</section>
    </body>
    </html>
