<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prash Lab</title>

    <!-- Google Font -->
    
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
<style>
footer {
  background-color: #777;
  padding: 25px;
  text-align: center;
  color: white;
}</style>
</head>
<body>
<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
    
<!-- navbar -->

<div class="container1">
	<div class="navbar">
		<ul class="navbar-ul">
			<li class="navbar-li"><a href="Home.html" style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #111;padding: 35px; font-size: 30px; margin-right: 800px;"><b>Prash's Lab</b></a></li>
			<li class="navbar-li"><a href="Home.html" class="nlink">Home</a></li>
			<li class="navbar-li"><a href="Research.html" class="nlink">Research</a></li>
			<li class="navbar-li"><a href = "labmembers.html" class="nlink">Lab Members</a></li>
        	<li class="navbar-li"><a href="Publications.html" class="nlink">Publications</a></li>
			<li class="navbar-li"><a href="contect.html" class="nlink">Contact Us</a></li>
		</ul>
	</div>
</div>
<section>
	<footer>
		<div class="footer-copyright text-white text-center">Copyright: © 2020
		<a href="https://Prash lab.org/" style="text-decoration: none;">
			<strong class="text-blue">Prash Lab</strong>
		</a>
		All Rights Reserved.
	    </div>
	</footer>
</section>
</body>
</html>
